
<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    
    <!-- Items -->
    <div class="carousel-inner"> 
        
        <div class="item active">
            <img src="https://prium-solutions.com/wp-content/uploads/2016/12/priumsolutions2-copie.png" alt="Slide 1" width="200px" height="200px" />
            <div class="carousel-caption">
                <h3><%= link_to 'Prium Solutions', 'https://prium-solutions.com/' %></h3>
                <p>
                  Contact: Justine Faure
                  <br/>
                  <%= link_to 'justine.faure@prium-solutions.com', 'mailto:justine.faure@prium-solutions.com' %>
                </p>
            </div> 
        </div>
        <div class="item">
          <div class="carousel-image-container">
            <img src="https://www.ald.softbankrobotics.com/sites/aldebaran/files/logos-picture/2016_digital_logo_sbr_158x33_0.png" alt="Slide 2" width="200px" />
          </div>
            <div class="carousel-caption">
                <h3><%= link_to 'Softbank Robotics', 'https://www.ald.softbankrobotics.com/fr' %></h3>
                <p>
                  Contact: Pierre Nouaille-Degorce
                  <br/>
                  <%= link_to 'pnouailledegorce@softbankrobotics.com', 'mailto:pnouailledegorce@softbankrobotics.com' %>
                </p>
            </div>
        </div>
        <div class="item">
            <%= image_tag 'kicklox', alt: "Slide 3", width: "200", height: "200" %>
            <div class="carousel-caption">
                <h3><%= link_to 'Kicklox', 'https://kicklox.co/' %></h3>
                <p>
                  Contact: Romain Villechenon
                  <br/>
                  <%= link_to 'contact@kicklox.com', 'contact@kicklox.com' %>
                </p>
            </div>
        </div>
    </div> 
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left fa fa-angle-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right fa fa-angle-right"></span>
    </a>
</div>

