
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">BandanaTech</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio"><%= I18n.t 'portfolio' %></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about"><%= I18n.t 'about' %></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact"><%= I18n.t 'contact' %></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#references"><%= I18n.t 'references' %></a>
                    </li>
                    <li>
                       <%= link_to (I18n.t 'resume'), resume_path, target: "blank" %>
                    </li>
                    <div class="language" >
                      <%= link_to (I18n.t 'french'), { :locale=>'fr' } %>|
                      <%= link_to (I18n.t 'english'), { :locale=>'en' } %>|
                      <%= link_to (I18n.t 'japanese'), { :locale=>'ja' } %>| 
                    </div>
                  </ul>
                </div>     
           </div>
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag 'logo_without_text.png', class: 'img-responsive' %>
                    <div class="intro-text">
                        <span class="name">Marhic Jérôme</span>
                        <hr class="star-light">
                        <span class="skills"><%= I18n.t 'subtitle' %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <h3>Stocks</h3>
                            </div>
                        </div>
                        <%= image_tag 'stocks.png', class: "img-responsive portfolio-image", alt:"stock image" %>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <h3>Blog</h3>
                            </div>
                        </div>
                        <%= image_tag 'blog.png', class: "img-responsive portfolio-image", alt:"blog image" %>
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <h3>Blog</h3>
                            </div>
                        </div>
                        <%= image_tag 'blog.png', class: "img-responsive portfolio-image", alt:"blog image" %>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><%= I18n.t 'about' %></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="about-paragraph"><%= I18n.t 'about_perso' %></p>
                </div>
                <div class="col-lg-4">
			<p class="about-paragraph"><%= I18n.t 'about_skills' %></p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <%= link_to resume_path(format: 'pdf'), class:"btn btn-lg btn-outline", download: "marhic_jerome_resume.pdf" do %>
                        <i class="fa fa-download"></i><%= I18n.t 'download_resume' %>
                    <% end %>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><%= I18n.t 'contact_me' %></h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <%= form_tag contact_path(locale: I18n.locale), id:"contactForm", remote: true, 'data-parsley-validate': '' %>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label><%= I18n.t 'name' %></label>
                                <%= text_field_tag :name, nil, class: "form-control", placeholder: (I18n.t 'name')+'*', id:"name", required: true %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label><%= I18n.t 'email' %></label>
                                <%= email_field_tag :email, nil, class:"form-control", placeholder: (I18n.t 'email')+'*', id:"email", required: true %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label><%= I18n.t 'phone' %></label>
                                <%= telephone_field_tag :phone, nil, class:"form-control", placeholder: (I18n.t 'phone'), id:"phone" %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label><%= I18n.t 'message' %></label>
                                <%= text_area_tag :text, nil, rows:"5", class:"form-control", placeholder: (I18n.t 'message')+'*',  id:"message", required: true %>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="notice" class="alert alert-success" hidden></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg loading-button">
                                  <div class='loader' hidden/></div>
                                  <%= I18n.t 'send' %>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <section id="references" class="success">
      <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><%= I18n.t 'references' %></h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
              <%= render 'previous_experiences' %>
            </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-6">
                        <h3><%= I18n.t 'location' %></h3>
                        <p><%=raw I18n.t 'location_value' %></p>
                    </div>
                    <div class="footer-col col-md-6">
                        <h3><%= I18n.t 'around_the_web' %></h3>
                        <ul class="list-inline">
                            <li>
                               <%= link_to 'https://github.com/MarhicJeromeGIT', target: '_blank'  do %>
                                  <img class="social-img" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" width="50px" height="50px" />
                               <% end %>
                            </li>
                            <li>
                                <%= link_to 'https://stackshare.io/MarhicJeromeGIT/web-development-stack', target: '_blank'  do %>
                                  <img class="social-img" src="https://img.stackshare.io/stack/412/preview.png" width="50px" height="50px" />
                                <% end %>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/jerome-marhic-53642216/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; BandanaTech 2017
                        <br/>
                        Theme : <%= link_to 'Bootstrap Freelancer', 'https://startbootstrap.com/template-overviews/freelancer' %>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <%= render 'stock_modal' %>
    <%= render 'blog_modal' %>
